* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  background-color: rgb(13, 119, 45);
  grid-area: overlay;
  /* animation: beu 10s linear infinite alternate; */
}
.container {
  grid-area: overlay;
  height: 100%;
  position: relative;
}
.down {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-template-areas: "overlay";
}

.rotor, .accel {
  position: relative;
}

@keyframes beu {
  0%{
    background-color: blue;
  }
  20%{
    background-color: rgb(97, 95, 0);
  }
  40%{
    background-color: rgb(255, 255, 255);
  }
  60%{
    background-color: rgb(146, 25, 25);
  }
  80%{
    background-color: rgb(0, 255, 42);
  }
  100%{
    background-color: rgb(0, 0, 0);
  }
}